<mat-list>
  <h3 mat-subheader>Contact</h3>
  <mat-list-item>
    <mat-icon mat-list-icon>person</mat-icon>
    <h4 mat-line>Rishi Khare</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>phone</mat-icon>
    <h4 mat-line>9866506965</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>email</mat-icon>
    <h4 mat-line>rishi@thrymr.net</h4>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon mat-list-icon>website</mat-icon>
    <h4 mat-line>www.thrymr.net</h4>
  </mat-list-item>

</mat-list>